@model IEnumerable<Bank.Models.Account>

@{
    ViewBag.Title = "Accounts";
}

<h2>Accounts</h2>
<h4>Listing accounts for: @ViewBag.userName</h4>

<p>
    <a href="@Url.Action("NewAccount", new { id = ViewBag.userId })">
        <span class="glyphicon glyphicon-plus"></span>
        New
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLocked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.ActionLink("Transactions", "Transactions", "Bank", new { id = item.Id }, null) |
                @Html.ActionLink("Deposit", "Deposit", "Account", new { id = item.Id }, null) |
                @Html.ActionLink("Withdraw", "Withdraw", "Account", new { id = item.Id }, null) |
                @Html.ActionLink("Transfer", "Transfer", "Bank", new { id = item.Id }, null) |
                @if (item.IsLocked) {
                    @Html.ActionLink("Unlock", "Unlock", "Account", new { id = item.Id }, null)
                } else {
                    @Html.ActionLink("Lock", "Lock", "Account", new { id = item.Id }, null)
                }
                 | @Html.ActionLink("Delete", "Delete", "Account", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
